<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Főoldal</title>
</head>
<body>
    Üdv a főoldalról!
    <a href="{{url_for('tanulok')}}">Tanulókhoz</a>
    <p>
        <a href="{{url_for('atlagok')}}">Fekvőtámasz átlagok</a>
    </p>
    <p>{% for meres in meresek  %}
        <a href="{{url_for('osszes_atlag', meres = meres)}}">{{ meres }}</a>
        {% endfor %}
    </p>
    
</body>
</html>