<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanuló adatai</title>
</head>
<body>
    <p>
        <h3>Első mérés</h3>
        <li>
            <ul>
                {% for adat in elso %}
                    {% for kulcs, ertek in adat.items() %}
                    <li>{{kulcs}} : {{ ertek }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </li>
    </p>
    <p>
        <h3>Második mérés</h3>
        <li>
            <ul>
                {% for adat in masodik %}
                    {% for kulcs, ertek in adat.items() %}
                    <li>{{kulcs}} : {{ ertek }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </li>
    </p>
</body>
</html>